<form method="post" action="{{ path('app_sales_document_item_delete', {'id': sales_document_item.id}) }}" onsubmit="return confirm('{{ 'common.delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sales_document_item.id) }}">
    <button class="px-4 py-2 bg-red-500 text-white rounded transition hover:bg-red-600 btn-mobile">{{ 'actions.delete'|trans }}</button>
</form>
