{% extends 'base.html.twig' %}

{% block title %}New SalesDocument{% endblock %}

{% block body %}
    <h1>Create new SalesDocument</h1>

    {{ include('sales_document/_form.html.twig') }}

    <a href="{{ path('app_sales_document_index') }}">back to list</a>
{% endblock %}
