<form method="post" action="{{ path('app_estimate_delete', {'id': estimate.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="w-full sm:w-auto">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estimate.id) }}">
    <button class="px-4 py-2 bg-red-500 text-white rounded transition hover:bg-red-600 btn-mobile">Supprimer</button>
</form>
